name: Build Android APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # We run the build INSIDE the official container
      # This bypasses all 'missing library' errors on the host
      - name: Build with Buildozer Docker
        uses: docker://kivy/buildozer:latest
        with:
          args: buildozer android debug
        env:
          # This fixes permission issues by telling Docker to run as the current user
          USER_ID: 1001
          GROUP_ID: 1001

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
